


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    color: #6b8897;
}
.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 440px 440px 440px 600px 500px;
    grid-template-areas:
    "navbar" 
    "container1"
    "c2"
    "c3"
    "c4"
    "c5";
}



.navbar{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
    

}
.navbar li{
    list-style: none;

}

.nav-links{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;

}



.login-button{
    padding:14px 32px 14px 32px; 
    border: 3px solid #66D3FA;
    border-radius: 10px;
   
    

    
    
}

.container1{
    display: flex;
    width: 100vw;
    justify-content: space-around;
  
    font-family: Lato, sans-serif;
   
 
    background: linear-gradient(225deg, #32c5ff 0%, #b620e0 51.26%, #f7b500 100% );
    
    


}

.spring-is-here{
    width: 20vw;
   align-self: center;
   display: flex;
   flex-direction: column;
   gap: 5px;
  
   
   

}

.spring-is-here h2{
    font-size: 2em;
    color: #FFF;
}

.spring-is-here p{
    color: #FFF;
    line-height: 25px;
}

.iphone{
    
  
  display: flex;
  gap: 10px;
  margin-bottom: -150px;
  margin-top: 100px;
  z-index: 1;
  

}




.explore-button{
    background: #3C99DC;
    padding: 18px 42px 18px 42px;
    border-radius: 10px;
    margin-top: 20px;
    color: #FFF;
    font-family: sans-serif;
    border: none;
    
}

.burger{
    display: none;
}

.nav-links a{
    text-decoration: none;
    color: #6b8897;;
}

body{
    overflow-x: hidden ; 
}



.learn-button{
    padding: 16px 52px 16px 52px; 
    border: #0091ff solid 2px;
    border-radius: 8px;
    color: #66D3FA;
}

.c2{
    background-image: url('assets//triangle-background.png');
    background-size: 100%;
    z-index: 2;
    
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "c21 c22"
    ". c23";
    column-gap: 20px;
    
}

.c21{
    grid-area: c21;
    margin-left: -100px;
    position:relative;
    bottom: 80px;
}
.c22{
    grid-area: c22;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.c22 p{
    line-height: 25px;
}

.c23{
    grid-area: c23;
    /* margin: 30px; */
}

.c3{
    display: grid;
    z-index: 3;
    background: linear-gradient(180deg, rgba(50, 197, 255, 0.12) 0%, #ffffff 100% );
    grid-template-columns: 1fr;
    grid-template-rows: 70% 10% 20%;
    grid-template-areas: 
    "box1"
    "box2"
    "box3";
    align-items: center;
    

}

.quote{
    grid-area: box1;
    justify-self: center;
    width: 50%;
}
.quote p{
    font-family: Lato, sans-serif;
    font-size: 21px;
    line-height: 32px;
}
.name{
    grid-area: box2;
    justify-self: center;
}
.images{
    grid-area: box3;
    justify-self: center;
}

.c4{
    background-image: url('assets/code-background.png');
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
    "c41 c43"
    "c42 .";
}
.some-text{
    grid-area: c41;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
    justify-content: center;
    margin-left: 100px;

}

.some-text h2{
    font-family: Lato, sans-serif;
    font-size: 2em;
    color: #ffffff;
}

.some-text p{
    font-size: 18px;
    color: #FFF;
}


.explore-but{
    grid-area: c42;
    margin-left: 100px;

 

}


.explore-but button{
    padding: 12px 72px 12px 72px;
    background: linear-gradient(180deg, #313539 0%, #000000 100%);
    border: 1px solid #000000;
    font-size: 13px;
    color:#FFF;
}
.code-image{
    grid-area: c43;
    justify-self: center;
    margin-top: 100px;


}
.c5{
    display: grid;
    background: linear-gradient( 
        257.46deg, #32c5ff -7.2%, #b620e0 67.92%, #f7b500 139.34% );
    grid-template-columns: 1fr 3.5fr;    
     grid-template-rows: 90% 10%;
     grid-template-areas: 
     "x1 x2"
     "x3 x4";
     
}
.acme-logo{
    grid-area: x1;
    justify-self: center;
    align-self: center;

    

}
.footer{
    grid-area: x2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.some-last-text{
    grid-area: x3;
    display: flex;
    align-self: center;
    justify-self: center;
}
.some-more-last-text{
    grid-area: x4;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}


.footer p{
    font-size: 1em;
    color: #FFF;

}

.footer h3{
    color: #FFF;
    font-size: 1.5em;
}
.some-last-text p{
    color: #FFF;
    

}

.some-more-last-text p{
    color: #FFF;

}
.Products {
   line-height: 42px;
 
   height: 50%;
}
.Support {
    line-height: 42px;
    height: 50%;
   
}
.Company{
    line-height: 42px;
    height: 50%;
}










@media screen and (max-width: 1200px){

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
body{
    overflow-x: hidden ;
    
}

    .container1{

        display: flex;
        flex-direction: column;
 
        align-items:center ;
        
  

    }
  

    .iphone{
        width: 150px;
       align-items: center;
       justify-content: center;
       margin:0px;
       margin-bottom: -100px;
       
    }
    .ip1{
        max-width: 100%;
    }
    
    .ip2{
        max-width: 100%;
    }


    

    .burger{
        display: block;
        cursor: pointer;
    }

    .nav-links{
        display:none;
        position: absolute;
        right: 0px;
        height: 45vh;
        top:8vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:20%;
        transform: translate(100%);
    }
    .nav-links a{
        text-decoration: none;
        color: #6b8897;;
    }

    .nav-active{
        transform: translateX(0%);
    }

   .c2{
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: 40% 40% 20%;
       grid-template-areas: 
       "c22"
       "c21"
       "c23";
       
   }

   .c21 {
    grid-area: c21;
    align-self: center;
    margin-top: -50px;
    bottom: 0px;

  
    
    }

    .c21 img{
        width: 400px;
       
      
    }

    .c22{
    grid-area: c22;
    align-self: center;
    margin-left: 80px;
    display:flex;
    flex-direction: column;
    row-gap: 20px;
    width: 70%;
    }

    .c23{
    grid-area: c23;
    justify-self: center;
   
    }



    .quote{
        width: 90%;


    }
    .images{
        display: flex;
        width: 40%;
        justify-content: space-between;

    }

    .c4{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 60% 20%;
        grid-template-areas: 
        "a1"
        "a3"
        "a2";
        row-gap: 20px;

    }
    .some-text{
        grid-area: a1;
        display: flex;
        row-gap: 10px;
        margin-left: 30px;
        margin-top: 30px;
        width: 30%;
        

    }
    .some-text p{
        font-size: 1em;
    }
    .some-text h2{
        font-size: 24px;
    }
    
    .explore-but{
        grid-area: a2;
        margin-left: 0px;
        justify-self: center;
    }
    .code-image{
        grid-area: a3;
        margin-top: 20px;
        width: 90%;
        height: auto;
      
        

        }

        .code-image img{
            min-width: 90%;
            height: 90%;
           
        }

        .c5{
            height: 1500px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60% 30% 5% 5%;
            grid-template-areas: 
            "x2"
            "x1"
            "x4"
            "x3";

        }

        .footer{
           display: flex;
           flex-direction: column;
           margin-left:30px;
           
        
          
       
            
        }
        

        .Products{
            
            width: 100%;
            
            margin-top: 50px;
        }
        .Support{
            width: 100%;
          
           
        }
        .Company{
            width: 100%; 
            
        }

        .some-more-last-text{
            justify-self: center;
        }




      
}    





   


    







